[Unit]
Description=QuantumBot Surveillance Software
After=network.target graphical.target
Wants=graphical.target

[Service]
User=tipl-qb
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/tipl-qb/.Xauthority
WorkingDirectory=/opt/qb_files
ExecStart=/opt/qb_files/qb
Restart=on-failure
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
